<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Plox don't touch-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  
  <appSettings>
    <!--This is what you are looking for.-->
    <add key="server_address" value="192.168.1.114" />
    <add key="server_port" value="8080" />
    <add key="use_port" value="8080" />
  </appSettings>
</configuration>